html, body
{
    background: #111; color: #fff;
    font-family: "Arial", cursive, sans-serif;
}

table
{
    border-collapse: collapse;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
}

th
{
    background: #fff;
    color: #111;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

td
{
    background: #111;
    color: #fff;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}


.btn {
    display: inline-block;
    padding: 2px 4px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
    background-color: #898989;
    color: #ffffff;
    border: 1px solid #323232;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4b4b4b;
    border: 1px solid #959595;
}

.nav-btn {
    display: inline-block;
    padding: 3px 6px;
    margin: 6px;
    text-align: center;
    text-decoration: none;
    background-color: #898989;
    color: #ffffff;
    border: 1px solid #323232;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.nav-btn:hover {
    background-color: #4b4b4b;
    border: 1px solid #959595;
}

.image-row {
    display: flex;
    justify-content: center;
}

.image-row img {
    max-width: 100%;
    min-width: 10%;
    width: auto;
    height: auto;
}



.idol-icon-row {
    display: flex;
    flex-wrap: wrap;
}

.idol-icon-row img {
    width: 48px;
    height: 48px;
}

.idol-icon-disabled {
    opacity: 0.1;
}

.idol-icon-enabled {
    opacity: 1.0;
}

.idol-icon-row img:hover {
    opacity: 0.5;
}



.icon-row-small
{
    display: flex;
    flex-wrap: wrap;
}

.icon-row-small img
{
    width: 32px;
    height: 32px;
}


#allCardsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px; /* Adjust as needed */
}

.cardRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    transition: transform 0.3s;
}

.cardRow:hover {
    transform: scale(1.05);
}

.cardRow img {
    max-width: 200px;
    max-height: 300px;
}

.cardRow span {
    flex: 1;
    text-align: center;
}

.cardRow:active {
    animation: clicked 0.25s ease-in-out;
}

.cardRow button {
    margin-top: 10px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

@keyframes clicked {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1.0;
    }
}